<p>about works!</p>
<!-- <p>{{id}}</p>
<div>
    <p>about</p>
    <p>Company</p>
</div> -->

<div class="details"> 
    <p>{{userDetails.name}}</p>
    <p>{{userDetails.username}}</p>
    <p>{{userDetails.email}}</p>
  </div>
     
<router-outlet></router-outlet>
