<p>user works!</p>
<h2>Home Component</h2>


<div class="list">

  <ng-container *ngFor="let user of users">
    <a [routerLink]="[user.id]">{{user.name}}</a>  
  </ng-container>
</div>


<div routerLink="/about/id">About</div>
<div routerLink="/company/id">Content</div>
  